form.search.well.form-inline(method='get')
  .inputs
    .query-wrapper
      input.query(name='query', type='text', placeholder='Type anything', value=request.query.query)
    input.submit.btn.btn-primary(type='submit', value='Search').xhr-click
  .extras.well
    // label.checkbox.tokens
      | Token cards
      input.xhr-change(name='tokens', type='checkbox', value='show', checked=request.query.tokens)
    select.format.xhr-change(name='format', data-placeholder='Choose a format')
      option
      each format in formats
        option(name=format.name, selected=(format.name == request.query.format))= format.name
