// lov3s uz fedz mez yeah-yeah! Pete-rabbit is awesomes when he is.

form.well.form-inline(method='post')
    input.span6(name="query", type='text', placeholder='Type anything')

if cards
  h3= cards.length+" results"
  section.cards.row
    each card in cards
      article.card.span4
        h3: a(href=router.card(card.gathererId()))= card.name
        img(src=router.image(card.gathererId())).image