doctype 5
html
  head
    title= title
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;")
    link(rel='stylesheet', href='/css/styles.css')
  body
    section.container
      header
        div.page-header
          h1
            = title+" "
            small= subtitle
      section#content!= body
      footer
        // lov3s uz fedz mez yeah-yeah! Pete-rabbit is awesomes when he is.