@import 'bootstrap/bootstrap.less';
@import 'bootstrap/responsive.less';

@iconSpritePath:      "../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

// The colour palette
@color1:   #cd0039;
@color1Dark: #aa002c;
@color2:   #ff8b00;
@color2Dark: #d37211;
@color3:   #e8d023;
@color3Dark: #c1adc2;
@color4:   #72a526;
@color4Dark: #628e20;
@color5:   #2b9bbf;
@color5Dark: #2485a4;
@color6:   #926ab4;
@color6Dark: #7e5c9a;
@color7:   #c73c82;
@color7Dark: #aa346f;
@color8:   #285b9d;
@color8Dark: #224f87;
@headerColor: #159bbe;
@headerColorDark: #1085a6;
@inactiveBubble: #f0f0f0;

@cardWidth: 222px;
@cardHeight: 310px;

body {
  min-width: 230px;
}

.container {
  margin-bottom: 20px;
}

.page-header {
  border-bottom: 0;
  padding-bottom: 0;
}

form.search {
  .clearfix;
  position: relative;
  padding: 11px 9px;
  margin-bottom: 6px;

  .extras {
    .border-radius(3px 3px 0 0);
    position: absolute;
    top: -34px; right: -1px;
    padding: 8px 9px 2px;
    border-bottom: 0;

    select.format {
      width: 210px;
    }
  }

  .inputs {
    height: 28px;
  }

  .query-wrapper {
    position: absolute;
    left: 9px; right: 80px;
  }

  input.query {
    width: 100%;
  }

  label.checkbox {
    #gradient > .vertical(#fff, #f5f5f5);
    cursor: pointer;
    margin: 0 6px 0 0;
    padding: 4px 8px;

    input {
      display: inline-block;
      margin: 3px 0px 6px 6px;
    }
  }

  input.submit {
    .border-radius(0 4px 4px 0);
    position: absolute;
    right: 9px;
    height: 28px;
  }
}

.meta {
  margin: 0 4px 8px;
}

.card {
  .clearfix;
  position: relative;
  margin-bottom: 10px;
  min-height: @cardHeight + 10px;

  .name {
    line-height: 22px;
    margin-bottom: 3px;
  }

  .text {
    margin-left: @cardWidth + 15px;
    max-height: @cardHeight + 10px;
    overflow: auto;
  }

  .rule {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 17px;
  }

  .image {
    position: absolute; left: 0;
    height: @cardHeight; min-width: @cardWidth; max-width: @cardWidth + 3;
    margin-right: 15px; margin-bottom: 10px;
    background: url(../images/card_back.png) no-repeat;
  }
}

.paging {
  text-align: center;
  margin-bottom: 16px;
  .btn { float: none; }
  .badge { 
    display: inline-block;
    margin: 6px 0; 
  }
}

/* Right aligns search button */
@media (max-width: 767px) {
  form.search input.submit {
    float: right;
  }
}

/* Right aligns search button */
@media (max-width: 720px) {
  .page-header {
    margin-bottom: 40px;
  }
}

/* Moves text below image for small windows (e.g. iphone vertical) */
@media (max-width: 460px) {
  .card .text {
    max-height: none;
    margin-left: 0;
    margin-top: @cardHeight + 10px;
  }
}
